<section class="nav-section position-sticky top-0">
    <div class="nav navbar navbar-expand-lg bg-info">
      <div class="container">
        <a href="#" class="navbar-brand"><i class="bi bi-file-earmark-plus-fill"></i>  Memo</a>

        <div class="d-flex justify-content-between align-items-center group">
          <div class="search-bar">
            <input type="text" class="form-control" placeholder="Search">
            <span><i class="bi bi-search"></i></span>
          </div>

          <div class="px-3"><i class="bi bi-view-list"></i></div>
          <div><i class="bi bi-gear"></i></div>
        </div>
      </div>
    </div>
</section>

<section class="tools bg-white">
  <div>
    <i class="bi bi-lightbulb"></i><span>Notes</span>
  </div>
  <div>
    <i class="bi bi-bell"></i><span>Reminders</span>
  </div>
  <div>
    <i class="bi bi-pencil-square"></i><span>Edit</span>
  </div>
  <div>
    <i class="bi bi-archive"></i><span>Archives</span>
  </div>
  <div>
    <i class="bi bi-trash"></i><span>Bin</span>
  </div>
</section>

<section class="text-area">
    <div class="text-box px-3 py-2">
      <span><i class="bi bi-pin"></i></span>
      <input type="text" class="mb-4" id="title" placeholder="Title" [(ngModel)]="textTitle">
    
        <textarea class="textarea mb-2"aria-multiline="true" contenteditable="true" role="textbox" aria-label="Take a note ..." spellcheck="true" placeholder="Take a note ..." tabindex="0" [(ngModel)]="body"></textarea>
        <div class="icon-box">
          <i class="bi bi-bell"></i>
          <i class="bi bi-person-plus"></i>
          <i class="bi bi-palette"></i>
          <i class="bi bi-image"></i>
          <i class="bi bi-archive"></i>
          <i class="bi bi-three-dots-vertical"></i>
          <i class="bi bi-arrow-counterclockwise"></i>
          <i class="bi bi-arrow-clockwise"></i>
          <button (click)="saveData()" [disabled]="textTitle == '' && body == ''">Save</button>
        </div>
  
      </div>
</section>

<section>
  <div class="container text-start mt-4 d-flex mb-4 result">
    <div class="result-box" *ngFor="let text of textArrary; let i = index">
      <span><i class="bi bi-x" (click)="del(i)"></i></span>
      <h6 class="text-primary">{{text.title}}</h6>
      <p>{{text.body}}</p>
      <div class="result-icon">
        <i class="bi bi-bell"></i>
        <i class="bi bi-person-plus"></i>
        <i class="bi bi-palette"></i>
        <i class="bi bi-image"></i>
        <i class="bi bi-archive"></i>
        <i class="bi bi-three-dots-vertical"></i>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>